<h1>Edu Docs</h1>

<table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark">
    <tr>

     <th>Document Name</th>
      <th>Document Id</th>
      <th>Document Photo</th>
      
    </tr>
  </thead>

  <tbody>
  
    <% @edu_docs.each do |edu_doc| %>
      <tr>
        <td><%= edu_doc.documentname %></td>
        <td><%= edu_doc.documentid %></td>
        <%if edu_doc.documents.attached?%>
           <td><%= link_to image_tag(edu_doc.documents,style: 'height:100px;width:200px;'), edu_doc %></td>
        <%else%><td></td>
        <%end%>
       
        <td><%= link_to 'Show', edu_doc %></td>
        <td><%= link_to 'Edit', edit_edu_doc_path(edu_doc) %></td>
        <td><%= button_to 'Destroy', edu_doc, :method=>"delete", data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Edu Doc', new_edu_doc_path %>
