
<%= link_to 'Edit', edit_gov_doc_path(@gov_doc) %> |
<%= link_to 'Back', gov_docs_path %>



<center>
<div class="jumbotron">
  <h1 class="display-4"> <%= %>  
 </h1>
  <p class="lead">  <%=@gov_doc.documentname  %> |  <%=@gov_doc.documentid %> | <br><br>  <%=image_tag(@gov_doc.documents,style: 'height:200px;width:300px;') %>

</p> 
  <hr class="my-4">  

  </p>
</div>
</center>